<div class="card-header mt-2 owned-games-header">
    <h2 class="purple-glowing-neon-text m-0 neon-tubes-lowercase">Owned Games</h2>
</div>
<div class="card-body owned-games-card-body">
    {{#each ownedGames}}
    {{>owned-game}}
    {{/each}}
</div>