<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-5 col-xl-4 p-0">
            {{>friend-see-stats-card}}
            {{>owned-games}}
        </div>
        <div class="col-12 col-sm-6 col-lg-7 col-xl-8 p-2">
            <div class="card shadow-lg container-fluid" id="stat-results-display-box">
                <div class="card-body row">
                    {{> (whichStatResultDisplay this)}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/friends-stats.js"></script>